.result {
    text-decoration-line: none;
    color: rgb(7, 7, 40);
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 0%;
    text-decoration-line: underline;
    font-size: 20px;
}