.form {
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: repeat(6, 80px);
    margin: 30px;
    padding: 10px;
    background-color: rgba(108, 189, 95, 0.874);
    height: 440px;
    border: 5px solid  #1a5f09c9;
    border-radius: 20px;
}

@media(max-width: 767px) {
    .form {
        grid-template-rows: repeat(5, 150px);
        height: 750px;
        font-size: 25px;
    }
}

.section {
    display: grid;
    grid-template-rows: 40px 40px;
    align-items: center;
    justify-content: center;
}

@media(max-width: 767px) {
    .section {
        grid-template-rows: 50px 50px;
        grid-gap: 20px;
    }
}

.form__paragraph {
    display: flex;
    justify-content: center;
    margin: 0%;
    text-decoration-line: underline;
    font-size: 20px;
}

@media(max-width: 767px) {
    .form__paragraph {
        font-size: 35px;
    }
}

.form__paragraph--choose {
    align-self: flex-end;
}

.form__paragraph--chosen{
    text-decoration-line: none;
}

.form__paragraph--result {
    text-decoration-line: none;
    color: rgb(7, 7, 40);
    font-size: 30px;
}

.form__select {
    min-height: 40px;
    min-width: 200px;
    cursor: pointer;
    text-align: center;
}

@media(max-width: 767px) {
    .form__select {
        min-height: 65px;
    }
}

.form__input {
    min-height: 40px;
    min-width: 300px;
    border: none;
    cursor: pointer; 
}

@media(max-width: 767px) {
    .form__input {
        min-height: 65px;
    }
}

.form__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.form__button {
    justify-self: center;
    width: 150px;
    height: 30px;
    border: none;
    background-color: #1e5510c9;
    cursor: pointer;
    transition: 300ms;
}

@media(max-width: 767px) {
    .form__button {
        height: 65px;
        width: 200px;
    }
}

.form__button:hover {
    transform: scale(1.1);
    background-color: #114803c9;
}

.form__button:active {
    transform: scale(1);
    background-color: #1148038a;
}